<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./common/meta') %>
      <title><%= pTitle%></title>
   </head>
   <body>
      <%- include('./common/header') %> 
      <div class= "hide-ele player-name" ><%= userName%></div>

      <%- include('./common/game') %> 
      <div class="game-button-panel">
         <button class="refresh-board">Refresh Arena
         <span></span><span></span><span></span><span></span>
         </button>
         <button class="start-game">Start Game
         <span></span><span></span><span></span><span></span>
         </button>
      </div>
      <div class="next-game-popup">
         <div class="winner"></div>
         <div class="final-score"></div>
         <div class="game-button-panel">
            <button >PLAY AGAIN
            <span></span><span></span><span></span><span></span>
            </button>
            <button >HOME
            <span></span><span></span><span></span><span></span>
            </button>
         </div>
      </div>
      </div>
      <%- include('./common/footer') %> 
      <link rel="stylesheet" href="/css/common/table.css" type="text/css">
      <link rel="stylesheet" href="/css/computer.css" type="text/css">
      <%- include('./common/scripts') %>
      <script src="/js/computer/board.js"></script>
      <script src="/js/computer/dom.js"></script>
      <script src="/js/computer/helper.js"></script>
   </body>
</html>