<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./common/meta') %>
      <link rel="stylesheet" href="/css/home-page.css" type="text/css">
      <title><%= pTitle%></title>
   </head>
   <body>
      <%- include('./common/header') %> 
      <div class="cmp-greet">
         <div class="cmp-greet-container">
            <ul class="cmp-greet-list">
               <li class="cmp-greet-type">Namaste, </li>
               <li class="cmp-greet-type">Hello, </li>
               <li class="cmp-greet-type">Welcome, </li>
               <li class="cmp-greet-type">Hola, </li>
            </ul>
         </div>
         <p class="greet-text normal-text">kasls</p>
      </div>
      <div class="home-page-card">
         <div class="cmp-enter-name">
            <p class="normal-text fancy-heading">What should we call you?</p>
            <input id="user-name" type="text" placeholder="Enter your name">
            <button class="submit-name">SUBMIT
            <span></span><span></span><span></span><span></span>
            </button>
         </div>
      </div>
      <div class="cmp-ready-to-play">
         <p class="normal-text fancy-heading">Let's Play</p>
         <div class="cmp-have-room">
            <input id="room-id" type="text" placeholder="Enter room ID here">
            <form method="post" action="/join-room">
               <button class="join-room">Join the Room
               <span></span><span></span><span></span><span></span>
               </button>
            </form>
         </div>
         <button id="host-game">Host the Game
         <span></span><span></span><span></span><span></span>
         </button>
      </div>
      <%- include('./common/footer') %> 
      <%- include('./common/scripts') %>
      <script src="/js/home/helper.js"></script>
      <script src="/js/home/dom.js"></script>
   </body>
</html>