<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./common/meta') %>
      <link rel="stylesheet" href="/css/home-page.css" type="text/css">
      <title><%= pTitle%></title>
   </head>
   <body>
      <%- include('./common/header') %> 
      <div class="cmp-greet">
         <div class="cmp-greet-container">
            <ul class="cmp-greet-list">
               <li class="cmp-greet-type">Namaste, </li>
               <li class="cmp-greet-type">Hello, </li>
               <li class="cmp-greet-type">Welcome, </li>
               <li class="cmp-greet-type">Hola, </li>
            </ul>
         </div>
         <p class="greet-text normal-text">kasls</p>
      </div>
      <div class="home-page-card">
         <div class="cmp-enter-name">
            <p class="normal-text fancy-heading">What should we call you?</p>
            <div>
            <input id="user-name" type="text" placeholder="Enter your name" autocomplete="off" >
            <div class="user-name-rules">
               <ul>
                  <li>Start with an alphabet</li>
                  <li>must be 4-20 characters long</li>
                  <li>No special characters, spaces</li>
                  <li>Only underscores allowed</li>
               </ul>
            </div>
            </div>
            <div>
               <button class="submit-name">SUBMIT
                  <span></span><span></span><span></span><span></span>
                  </button>
              
            </div>

         </div>
      </div>
      <div class="cmp-ready-to-play">
         <p class="normal-text fancy-heading">Choose how to play</p>
         <form method="post" action="/join-room">
            <button class="">vs Computer
            <span></span><span></span><span></span><span></span>
            </button>
         </form>
         <div>
         <button class="have-lobby">Have Lobby ID?
            <span></span><span></span><span></span><span></span>
            </button>
           <div class="hide-ele room-id-wrap">
            <input id="room-id" type="text" placeholder="Enter lobby ID here">
            <small>Press Enter</small>
           </div>
         </div>         
         <button id="host-game">Host the Game
         <span></span><span></span><span></span><span></span>
         </button>
      </div>
      <%- include('./common/footer') %> 
      <%- include('./common/scripts') %>
      <script src="/js/home/helper.js"></script>
      <script src="/js/home/dom.js"></script>
   </body>
</html>